asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
cloudinary==1.44.2
colorama==0.4.6
dj-database-url==3.1.2
Django==5.2.13
django-cloudinary-storage==0.3.0
et_xmlfile==2.0.0
gunicorn==26.0.0
idna==3.16
openpyxl==3.1.5
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.12
qrcode==8.2
reportlab==4.5.1
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.7.0
whitenoise==6.12.0
